h1 {
  font-size: 250%;
  text-align: center;
}

header {
  background-color: rgba(255, 255, 255, 0.219);
}

body {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

main {
  grid-column: 2/3;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.486);
  font-size: 300%;
  margin: 0 auto;
  height: fit-content;
  width: fit-content;
  padding: 0;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-radius: 10px;
}

.content {
  color: black;
}

body {
  background-image: url(../media/background1.jpg);
}

.error {
  color: #281f11;
  border: 1px solid black;
  padding: 10px;
  font-size: xx-large;
}

.resultMsg {
  color: #281f11;
  border: 1px solid black;
  padding: 10px;
  font-size: xx-large;
}

input {
  font-size: 70%;
  border-radius: 10px;
}

button {
  margin: 10px;
  font-size: 80%;
  border-radius: 10px;
}

button.hover {
  background-color: black;
  color: white;
}

#amount {
  width: 10%;
}
